services:
  mya:
    image: jeffersonlab/mycontainer:2.0.0
    hostname: mya
    container_name: mya
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mycontainer/100_channel.sql:/docker-entrypoint-initdb.d/100_channel.sql
      - ./docker/mycontainer/101_channel.sql:/docker-entrypoint-initdb.d/101_channel.sql
    environment:
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
    healthcheck:
      test: "mysqladmin ping -h localhost -u root -ppassword"
      interval: 5s
      timeout: 10s
      retries: 12
  myquery:
    image: jeffersonlab/myquery:6.2.0
    hostname: myquery
    container_name: myquery
    ports:
      - "8080:8080"
    volumes:
      - ./docker/myquery/context.xml:/usr/local/tomcat/conf/context.xml
      - ./docker/myquery/deployment.properties:/usr/local/tomcat/lib/deployment.properties
    depends_on:
      mya:
        condition: service_healthy
    healthcheck:
      test: "curl --fail 'http://localhost:8080/myquery/channel?q=channel10%25&l=&o=&m=docker'"
      interval: 5s # Check every 5 seconds
      timeout: 10s # Wait 10 seconds for a response
      retries: 12 # Retry up to 12 times
